
ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
}
section {
  padding: 8px 16px;
  margin: 0;
}

button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}
input {
  border: none;
  outline: none;
  padding: 8px;
}

.search-area {
  border-bottom: 1px solid #ddd;
}
.input-control {
  display: flex;
  position: relative;
}

.input-control:hover {
  border-color: #aaa;
}
.icon-area {
  width: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.search-icon {
  width: 16px;
  padding: 4px;
}
input#search {
  width: 100%;
  padding-left: 32px;
  padding-right: 8px;
  box-sizing: border-box;
  height: 24px;
}
.brand-list {
  height: calc( 100vh - 50px );
  overflow: auto;
}

.brand-list::-webkit-scrollbar {
  overflow:hidden;
  width:14px;
  height:14px;
  background:#fafafa;
}
.brand-list::-webkit-scrollbar-button {
  display:none;
}
.brand-list::-webkit-scrollbar-piece
{
  background:#eee;
}
.brand-list::-webkit-scrollbar-piece:start
{
  background:#eee;
}
.brand-list::-webkit-scrollbar-thumb
{
  overflow:hidden;
  border-radius:3px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  background-color: rgba(80, 80, 80, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(80, 80, 80, 0.05), inset 1px 1px 0px rgba(80, 80, 80, 0.05);
}
.brand-list > ul > li {
  padding-top: 2px;
  padding-bottom: 2px;
}

.brand-colors > li {
  display: inline-block;
}
.colorball {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  display: inline-block;
  margin-right: 4px;
  box-sizing: border-box;
}
.colorball:hover {
  border: 1px solid #aaa;
}